.jumbotron {
    background-color: rgb(166, 116, 212);
}
body{
    background-color: lightblue;
}

h1{
    text-align: left;
}
h2{
    text-align: center;
}
.searchBox{
    text-align: left;
    width: 25%;
}
.jumbotron h1{
    text-align: center;
}